extends ../views/layouts/page.pug

block content
  .card.shadow-sm
    .card-body
      h1.card-title.mb-3= course.title
      p.card-text.lead= course.description
      a.btn.btn-outline-primary(href='/courses') Назад к курсам