extends ../views/layouts/users_page.pug

block content  
  .card.shadow-sm
    .card-body
      h1.card-title.mb-3= user.name

      p.card-text.lead
        strong Имя: 
        span= user.name

      p.card-text.lead
        strong Email: 
        span= user.email

      p.card-text.lead
        strong Пароль: 
        span= user.password  

      a.btn.btn-outline-primary(href='/users') Назад к пользователям